
h2 {text-align: center;}

audio {margin: 20px 20px;}

.bioparagraph {height: 150px;}

.meetimage {float:left; width:160px; height:75%; border-radius:15%; padding:15px;}

#myCollapsingList {background-color: rgba(0, 0, 0, 1);}


footer{
          padding-top: 40px;
          background-color: black;
          text-align: center;
          color: white;
          height: 100px;
          width: 100%;
         }

#nav {height:100px; padding: 20px; margin-bottom: 0px;}

.navbar-brand{font-family: Copperplate, "Copperplate Gothic Light"; font-size: 50px; height: auto;
			border: red solid 5px; border-radius: 10%;
			}

body{
	background-color: #ddd;
	padding: 5px;
	}


#headshot {width:40%; height:100px; border-radius:15%; margin: 20px; margin-left: auto; margin-right:auto;}

#bandpic {display: block; float:left; border-radius:10%; margin: 20px; width: 287px; height: 175px;}

#smedia {width:30px; height:30px; margin: 10px;}

#carousel-example-generic {width: 300px; margin-left: auto; margin-right: auto};