.jumbotron {margin: 100px; text-align: center}

#bandplaying {width: 200px; height: 140px; float: right; margin: 20px;}

hr {width: 85%;}

 .input-group {width: 90%; margin-left: auto; margin-right: auto;}

 div button a {color: white;}

.albumcover {width: 100px; height: 100px; margin: 10px;}




h2 {text-align: center;}



#ituneslogo {height: 30px; width: 80px; float:right; margin-right: 20px;}

audio {margin: 20px 20px;}

.bioparagraph {height: 150px;}

.meetimage {float:left; width:160px; height:75%; border-radius:15%; padding:15px;}

#myCollapsingList {background-color: rgba(0, 0, 0, 1);}


footer{
          padding-top: 40px;
          background-color: black;
          text-align: center;
          color: white;
          height: 100px;
          width: 100%;
         }

#nav {height:100px; padding: 20px; margin-bottom: 0px;}

.navbar-brand{font-family: Copperplate, "Copperplate Gothic Light"; font-size: 50px; height: auto;
			border: red solid 5px; border-radius: 10%;
			}

body{
	/*background-color: #ddd;*/
  background-image: url(background.jpg);
  background-size: cover;
	padding: 5px;
 font-size: 16px;}


#headshot {width:40%; height:100px; border-radius:15%; margin: 20px; margin-left: auto; margin-right:auto;}

#bandpic {display: block; float:left; border-radius:10%; margin: 20px; width: 287px; height: 175px;}

#smedia {width:30px; height:30px; margin: 10px;}

#carousel-example-generic {width: 300px; margin-left: auto; margin-right: auto};