/*CSS User Stylesheet*/
/*Divided into Responsive Design, Elements, IDs and Classes sections*/

/*Responsive Design */

@media (max-width: 1080px) {
  .navbar-header {
      float: none;
  }

  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(34,34,34,1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/*Elements */

a{color: black;}

hr {width: 85%;}

h1 {padding-bottom: 10px; padding-top:30px;}

h2 {text-align: center;}

div button a {color: white;}

audio {margin: 20px 20px;}

footer{
    padding-top: 30px;
    background-color: black;
    text-align: center;
    color: white;
    height: 75px;
    width: 100%;
    }

body{
    background-image: url(static/images/background.jpg);
    background-size: cover;
    padding: 5px;
    font-size: 16px;}


/*IDs*/
#myCollapsingList {background-color: rgba(0,0,0,1) !important; clear:right;}

#ituneslogo {height: 30px; width: 80px; float:right; margin-right: 20px;}

#bandpic {display: block; float:left; border-radius:10%; margin: 20px; width: 287px; height: 175px;}

#carousel-example-generic {width: 300px; margin-left: auto; margin-right: auto};

#myCollapsingList {background-color: black !important; display:flex}

#notavailable {padding-top: 50px; font-weight: bold;}

#calendar1 {margin-left: auto; margin-right: auto;}

#redbox {width: 20px; height: 16px;}

#availabilitydiv {margin-top: 70px}

#videowidth{width: 100%}

#submitbutton{
    margin:auto;
    display:block
}


/*Classes*/

.booked {background-color: red}

.input-group {width: 90%; margin-left: auto; margin-right: auto;}

.albumcover {width: 100px; height: 100px; margin: 10px;}

.jumbotron {margin: 100px; text-align: center}

.bioparagraph {height: auto; margin: 10px;}

.meetimage {float:left; width:160px; height:100%; border-radius:15%; padding:15px;}

.navbar-brand{
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 50px;
    height: auto;
    border: red solid 5px;
    border-radius: 10%;
    white-space: nowrap;
    margin-top: 10px;
    }

.bandplayingheight {height: 200px;}

.bottomimage {width: 200px; height: 140px; float: right; margin: 20px; border-radius:10%}

.smedia {width:30px; height:30px; margin: 10px;}

.headshot {width:40%; height:100px; border-radius:15%; margin: 20px; margin-left: auto; margin-right:auto;}

.redborder{border: red solid 5px}

.nav {

    padding:20px;
    margin-bottom: 0px;
    border-radius:5%;
    padding-top: 15px;
    border:red solid 5px
    }
